<div class = "container">

 <h2> <%= @restaurant.name %></h2>
 <div class="row">
   <div class="col-xs-12 col-sm-3">
    <div class="card" style="width: 18rem;">
  <p> <%= @restaurant.address %></p>
  <p> <%= @restaurant.phone_number %></p>
  <p> <%= @restaurant.category %></p>

  <h3>reviews</h3>
  <% @restaurant.reviews.each do |review| %>
    <p><%= review.content %></p>
    <p><%= review.rating %></p>

  <% end %>

 <%= link_to "back to restaurants", restaurants_path%>
 </div>
</div>
</div>
</div>
